<h2>About me</h2>
<div class="about" class="buttondemoBasicUsage"
ng-controller="collectionsCtrl">
  <md-button class="md-raised md-primary" ng-click="togsec('section1')">My bio</md-button></h2>
  <div ng-if="showsec.section1">
    {{bio}}
  </div>
<!--
  <button ng-click="togsec('section2')">My Portfolio</button>

  <div ng-if="showsec.section2">

    <a href="http://www.openassembly.com/" target="_blank">
      <h4>{{oa}}</h4>
    </a>

    <a href="http://www.abzexchange.com/" target="_blank">
      <h4>{{abz}}</h4>
    </a>

    <a href="https://github.com/AbbyBiying/ABZ_EXCHANGE" target="_blank">
      <p>Source Code</p>
    </a> -->
  <!-- </div> -->

  <h3>My skills:</h3>
  <md-button class="md-raised md-primary" ng-click="togsec('section3')">Back-End</md-button>
  <div ng-if="showsec.section3">
  <p>{{backend}}</p>
  </div>

  <md-button class="md-raised md-primary" ng-click="togsec('section4')">Front-End</md-button>
  <div ng-if="showsec.section4">
  <p>{{frontend}}</p>
  </div>

  <md-button class="md-raised md-primary" ng-click="togsec('section5')">Database</md-button>
  <div ng-if="showsec.section5">
  <p>{{database}}</p>
  </div>

  <md-button class="md-raised md-primary" ng-click="togsec('section6')">Others</md-button>
  <div ng-if="showsec.section6">
  <p>{{others}}</p>
</div>

<ul>
 <li><a href="https://github.com/AbbyBiying/meet_and_greet">Source Code For this site</a></li>
 <li><a href="https://github.com/AbbyBiying">GitHub</a></li>
 <li><a href="https://www.linkedin.com/in/abbybzhang">Linkedin</a></li>
 <li><a href="http://abbybiying.github.io/">Personal Website</a></li>
</ul>

