body {
  color: #262626;
  background-color: #D9FFFD;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  overflow-x: hidden;
  margin: 50px auto;
  max-width: 600px;
  padding: 0 30px;
}

button {
  color: #7746F1;
}

.pick-true{
  text-decoration: underline;
  color: red;
}

