<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Meet & Greet</title>

  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
  <link rel="stylesheet" href="app.css">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <!-- My App Library -->
  <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
  <script type="text/javascript" src="app.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script type="text/javascript" src="/utils/utils-service.js"></script>
  <script type="text/javascript" src="/portfolios/portfolios-service.js"></script>
  <script type="text/javascript" src="/portfolios/portfolios.js"></script>
  <script type="text/javascript" src="/routes.js"></script>
  <script type="text/javascript" src="/ctrl/collections.js"></script>
  <script type="text/javascript" src="/ctrl/messages.js"></script>
  <script type="text/javascript" src="/ctrl/greet.js"></script>
  <script type="text/javascript" src="/ctrl/arts.js"></script>
  <script type="text/javascript" src="/ctrl/questions.js"></script>
  <script type="text/javascript" src="/directive/messagetext.js"></script>

</head> 

<body> 

<div ng-app="AbbyIntroduction" class="main-container">

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" ui-sref="home">ABZ</a>
        <ul class="nav">
          <li ng-class="{active: $state.includes('portfolios')}"><a ui-sref="portfolios.list">Portfolios</a></li>
          <li ui-sref-active="active"><a ui-sref="about">About</a></li>
          <li ui-sref-active="active"><a ui-sref="messages">Message me</a></li>
        </ul>
        <p ui-view="hint" class="navbar-text pull-right"></p>
      </div>
    </div>
  </div>

  <div ui-view class="container slide" style="padding-top: 80px;"></div>

  <hr>
  <pre>
    $state = {{$state.current.name}}
    $stateParams = {{$stateParams}}
    $state full url = {{ $state.$current.url.source }}
  </pre>

  <div class="buttondemoBasicUsage">
    <h2>Shake hand 握手</h2>
    <md-button class="md-raised md-primary">art gallery</md-button>
    <md-button class="md-raised md-primary">your name</md-button>

    <div class="resume" truncate="resume" turls="true" tlength="200"></div>
    <div id="demo"></div>

    <!-- <canvas data-processing-sources='mixing.pde'></canvas> -->
    <div class="greet" ng-controller="greetCtrl">
      <p>Your Name:
        <input type="text" ng-model="name" placeholder="Please enter name here">
      </p>
      <md-button class="md-raised md-primary toggle" ng-click='greeting()'>greet</md-button><br>
      {{ greet }}

      <p>Your note:
        <input type="text" ng-model="usernote" placeholder="Please make some notes here">
      </p>
      <md-button class="md-raised md-primary" ng-click='note()'>note</md-button><br>
      {{ notebody }}
    </div>

    <br>

    <h1>Your question:</h1>
    <div>Search question:
      <input ng-model="searchText" placeholder="search question">
    </div><br>

    <div ng-controller="questionsCtrl">
      <ul>
        <li ng-repeat="question in questions |filter:searchText">
          <input type="checkbox" ng-model="question.done">
          <span class="done-{{question.done}}">{{question.text}}</span>
        </li>
      </ul>

      <form name="questionForm" class="form-question" novalidate ng-submit="questionForm.$valid && addQuestion()">
        <input type="text" ng-model="formquestionText", placeholder="type your question here" required>

        <div>question form is {{questionForm.$valid}} </div>
        <input type="submit" value="Submit" /> 

        <md-button class="md-raised md-primary" ng-click="clearQuestion()">Clear selected question</span></md-button>
      </form>

      <p>
        Total {{getTotalquestions()}} <span ng-pluralize count="questions.length" when="{'0':'question', '1':'question','other':'questions'}"></span>
      </p>
    </div>
  </div>
</div>

</body>

</html>
