<!DOCTYPE html>
<html>
  <div ng-app="AbbyIntroduction">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Meet & Greet</title>

  <link rel="stylesheet" href="app.css">

  <script type="text/javascript" src="processing.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js">
  </script>
  <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
  <script type="text/javascript" src="app.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script src="/utils/utils-service.js"></script>
  <script src="/portfolios/portfolios-service.js"></script>
  <script src="/portfolios/portfolios.js"></script>
  <script src="/router.js"></script>
  <script src="/ctrl/collections.js"></script>
  <script src="/ctrl/messages.js"></script>
  <script src="/ctrl/greet.js"></script>
  <script src="/ctrl/arts.js"></script>
  <script src="/ctrl/questions.js"></script>
  <script src="/directive/messagetext.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
</head> 

<body> 
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" ui-sref="home">ABZ</a>
        <ul class="nav">
          <li ng-class="{active: $state.includes('portfolios')}"><a ui-sref="portfolios.list">Portfolios</a></li>
          <li ui-sref-active="active"><a ui-sref="about">About</a></li>
          <li ui-sref-active="active"><a ui-sref="messages">Message me</a></li>
        </ul>
        <p ui-view="hint" class="navbar-text pull-right"></p>
      </div>
    </div>
  </div>

  <div ui-view class="container slide" style="padding-top: 80px;"></div>

  <hr>
  <pre>
    $state = {{$state.current.name}}
    $stateParams = {{$stateParams}}
    $state full url = {{ $state.$current.url.source }}
  </pre>

  <div>
    <h2>Shake hand 握手</h2>
    <button>art gallery</button>
    <button>your name</button>
  </div>

  <div class="resume" truncate="resume" turls="true" tlength="200"></div>
  <div id="demo"></div>

  <!-- <canvas data-processing-sources='mixing.pde'></canvas> -->
  <div class="greet" ng-controller="greetCtrl">
    <p>Your Name:
      <input type="text" ng-model="name" placeholder="Please enter name here">
    </p>
    <button class="toggle" ng-click='greeting()'>greet</button><br>
    {{ greet }}

    <p>Your note:
      <input type="text" ng-model="usernote" placeholder="Please make some notes here">
    </p>
    <button ng-click='note()'>note</button><br>
    {{ notebody }}
  </div>

  <br>

  <h1>Your question:</h1>
  <div>Search question:
    <input ng-model="searchText" placeholder="search question">
  </div><br>

  <div ng-controller="questionsCtrl">
    <ul>
      <li ng-repeat="question in questions |filter:searchText">
        <input type="checkbox" ng-model="question.done">
        <span class="done-{{question.done}}">{{question.text}}</span>
      </li>
    </ul>

    <form name="questionForm" class="form-question" novalidate ng-submit="questionForm.$valid && addQuestion()">
      <input type="text" ng-model="formquestionText", placeholder="type your question here" required>

      <div>question form is {{questionForm.$valid}} </div>
      <input type="submit" value="Submit" /> 

      <button ng-click="clearQuestion()">Clear selected question</span></button>
    </form>

    <p>
      Total {{getTotalquestions()}} <span ng-pluralize count="questions.length" when="{'0':'question', '1':'question','other':'questions'}"></span>
    </p>
  </div>

</body>

</html>
